<html>
<head>
	<title> Text Management Tool </title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
	<script src="/javascripts/angularApp.js"></script>
</head>
<body ng-app="textManagement" ng-controller="textManagementCtrl">
	<div>
		{{test}}
	</div>
	<br>
	<form>
    <p>Text: <input type="text" ng-model="formModel.text"></input></p>
	<p>User Name: <input type="user" ng-model="formModel.user"></input></p>
	<p>City: <input type="user" ng-model="formModel.city"></input></p>
    <button type="submit" ng-click="submitText()">Done</button>
	<br><br>
	<textarea readonly rows="4" cols="50" ng-model = "text"></textarea>
	<p>Latitude: <textarea readonly ng-model="cityInfo.longitude"></textarea></p>
	<p>Longitude: <textarea readonly ng-model="cityInfo.latitude"></textarea></p>
	<p>Temperature: <textarea readonly ng-model="cityInfo.temperatures"></textarea></p>
	</form>
</form>
</body>
</html>